@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
body {
    background-color: lightskyblue;
    width: 300px;
    margin: 0px 40%;
    font-family: 'Open Sans', sans-serif;
}
div {
    
}
.texto {
    font-family: 'Open Sans', sans-serif;
}
.topo div {
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px 10px 0px 0px;
    
}

h1 {
    font-size: 28px;
    color:aqua;
    text-align: left;
}
h2 {
    font-size: 20px;
    color: greenyellow;
    text-align: left;
}
.topo p {
    font-size: 14px;
    color:black;
    text-align: left;
}
.topo1 { 
    background-color: rgb(50, 112, 112);
    padding: 20px 20px;
    text-align: left;
}
.topo2 {
    background-color:rgb(80, 202, 162);
    padding: 20px 20px;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    }
.topo1 p{
    font-size: 14px;
    color: white;
    text-align: left;
}

.topo1 span{
    font-size: 28px;
}

.botao span{
    font-size: 20px;
    padding: 5px 10px;
    color: black;
    background-color:chartreuse;
    border-radius: 10px 10px;
    margin: 0px 80px;
}

.topo2 span{
    font-size: 20px;
    color: white;
}

.topo2 p{
    font-size: 14px;
    color: white;
}


